.landing {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}



.landing--container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
}


.lcl--content {
  margin: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -4.70rem;
}

.landing--social {
  font-size: 35px;
  margin: 0 .5rem;
  transition: transform 0.5s;
}

.landing--social:hover {
  transform: scale(1.3);
}

.landing--container-right {
  flex: 85%;
  height: 100%;
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lcr--content {
  width: 65%;
  margin-right: 7rem;
  font-style: normal;
  font-family: sans-serif;

  align-items: center;
  justify-content: center;
}

.lcr--content h6 {
  color: #ccd6f6;
  font-weight: 500;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: -0.70rem;
  opacity: 0.9;
  font-family: sans-serif;
}

.lcr--content h1 {
  opacity: 0.9;
  color: #8892b0;
  font-weight: 600;
  font-size: 4.5rem;
  line-height: 110%;
  margin: 1rem 0;
  font-family: sans-serif;
}

.lcr--content p {
  text-align: justify;
  margin-top: 1.45rem;
  font-size: 1.25rem;
  letter-spacing: .10rem;
  margin-bottom: -6.70rem;
  font-family: sans-serif;
  font-weight: bolder;
  color: #ff884b;
}

.lcr-buttonContainer {
  margin-top: 2rem;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
}

@media (max-width: 1100px) {
  .landing--img {
    --img-size: 350px;
  }

  .lcl--content {
  }

  .lcr--content h6 {
    font-size: 2rem;
  }

  .lcr--content h1 {
    font-size: 4rem;
  }

  .lcr--content p {
    margin-top: 0.3rem;
    margin-bottom: -4rem;
    font-weight: 500;
    font-size: 1rem;
  }

  .lcr-buttonContainer {
    margin-top: 1rem;
    flex-direction: column;
    width: 200px;
    height: 120px;
    align-items: flex-start;
  }
}

@media (max-width: 900px) {
  .landing--img {
    --img-size: 300px;
  }

  .landing--social {
    font-size: 30px;
    text-align: center;
  }

  .lcr--content {
    width: 80%;
    margin-top: 10%;
    margin-right: 6%;
  }

  .lcr-buttonContainer {
    margin-top: 1rem;
    flex-direction: column;
    width: 200px;
    height: 120px;
    align-items: flex-start;
  }

  .lcr-buttonContainer button:nth-child(2) {
    display: none;
  }
}

@media (max-width: 600px) {

  .hidden-button{
    display: none;
  }

  .landing--container {
    flex-direction: column;
    justify-content: space-between;
  }

  .landing--img {
    --img-size: 200px;
    left: 50%;
    top: 30%;
    border: 8px solid #eaeaea;
    transform: translate(-50%, -50%);
  }

  .landing--container-left {
    flex: initial;
    width: 100%;
    height: 30%;
  }


  .landing--social {
    text-align: center;
    font-size: 35px;
    margin: 0 .5rem;
    transition: transform 0.5s;
  }

  .landing--social:hover {
    transform: scale(1.2);
  }

  .landing--container-right {
    box-sizing: border-box;
    padding: 0 2rem;
    flex: initial;
    height: 80%;
    width: 100%;
    background-color: #eaeaea;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
  }

  .lcr--content {
    margin-top: 20%;
    margin-right: initial;
    width: 100%;
  }

  .lcr--content h6 {
    font-size: 2rem;
    text-align: left;
  }

  .lcr--content h1 {
    font-size: 3rem;
    text-align: left;
  }

  .lcr--content p {
    
    text-align: left;
    font-size: 0.95rem;
    margin-bottom: -4rem;
    width: 90%;
  }

  .lcr-buttonContainer {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .lcr-buttonContainer button {
    margin-top: -20%;
  }
}

@media (max-width: 500px) {
  .lcr--content {
    margin-top: 35%;
  }

}

@media (max-width: 370px) {
  .lcr--content {
    margin-top: 60%;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
  .landing {
    height: 100%;
  }

  .landing--img {
    --img-size: 150px;
    left: 50%;
    top: 20%;
  }
}